.headercontainer{
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 10px;
    
}
ul{
    display:flex;
    list-style: none;
    gap: 16px;
    
    
}
a{
    text-decoration: none;
    color: #F9FAF8;
}
.headercontainer2{
    display: flex;
}