*{
    margin:0;
    padding:0;
}
body{
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    overflow: visible;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.headercontainer{
    display: flex;
    min-height: 75px;
    color: #F9FAF8;
    justify-content: space-around;
    background-color: #1F2937;
    height: 2vh;
    background-size: cover;
    background-position:center;
}
ul{
    display:flex;
    list-style: none;
    gap: 16px;

}
a{
    text-decoration: none;
    color: #F9FAF8;
    margin-right: 40px;
}
.headercontainer2{
   display: flex;
   color: #F9FAF8;
   margin-right: 75px;
  
   margin: 100px;
   margin-left: 200px;
   margin-right: 400px;
   height: 300px;
   flex-direction: column;
   align-items: center;
   background-color: #1F2937;
   
   
}
.backcolor{
    background-color: #1F2937;
}
.textcontainer2{
    color: white;
    margin-right: 10px;
    flex-basis: 100%;
    padding: 2 4em;
    flex-direction: column;
    
    
}

img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    
    
}
.button{
    font: size 18px;
    text-decoration: none;
    border: blue 1px dotted;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color:blue;

}
