body{
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    overflow: visible;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.wrapper{
    display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}
.headercontainer{
    display: flex;
    min-height: 75px;
    color: #F9FAF8;
    justify-content: space-around;
    
}
ul{
    display:flex;
    list-style: none;
    gap: 16px;

}
a{
    text-decoration: none;
    color: #F9FAF8;
    margin-right: 40px;
}
.headercontainer2{
   display: block;
   color: #F9FAF8;
   margin-right: 75px;
   justify-content: space-between;
   margin: 0px;
   max-height: fit-content;
   flex-direction: column;
   align-items: center;
   
}
.backcolor{
    background-color: #1F2937;
}
.textcontainer2{
    color: #F9FAF8;
    display: block;
   margin-right: 10px;
   flex-basis: 100%;
   padding: 2 4em;
   align-items: flex-start;
}

img{
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
    flex-direction: column;
    
}